@font-face {
    font-family: 'roboto';
    src: url('../../fonts/roboto/Roboto-Regular.woff') format('woff'),
         url('../../fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../../fonts/roboto/Roboto-Italic.woff') format('woff'),
         url('../../fonts/roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'roboto';
    src: url('../../fonts/roboto/Roboto-Light.woff') format('woff'),
         url('../../fonts/roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../../fonts/roboto/Roboto-LightItalic.woff') format('woff'),
         url('../../fonts/roboto/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'roboto';
    src: url('../../fonts/roboto/Roboto-Medium.woff') format('woff'),
         url('../../fonts/roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../../fonts/roboto/Roboto-MediumItalic.woff') format('woff'),
         url('../../fonts/roboto/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'roboto';
    src: url('../../fonts/roboto/Roboto-Bold.woff') format('woff'),
         url('../../fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../../fonts/roboto/Roboto-BoldItalic.woff') format('woff'),
         url('../../fonts/roboto/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'century-gothic';
    src: url('../../fonts/century-gothic/CenturyGothic-Italic.eot');
    src: url('../../fonts/century-gothic/CenturyGothic-Italic.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/century-gothic/CenturyGothic-Italic.woff') format('woff'),
    url('../../fonts/century-gothic/CenturyGothic-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'century-gothic';
    src: url('../../fonts/century-gothic/CenturyGothic.eot');
    src: url('../../fonts/century-gothic/CenturyGothic.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/century-gothic/CenturyGothic.woff') format('woff'),
    url('../../fonts/century-gothic/CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'century-gothic';
    src: url('../../fonts/century-gothic/CenturyGothic-Bold.eot');
    src: url('../../fonts/century-gothic/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/century-gothic/CenturyGothic-Bold.woff') format('woff'),
    url('../../fonts/century-gothic/CenturyGothic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'century-gothic';
    src: url('../../fonts/century-gothic/CenturyGothic-BoldItalic.eot');
    src: url('../../fonts/century-gothic/CenturyGothic-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/century-gothic/CenturyGothic-BoldItalic.woff') format('woff'),
    url('../../fonts/century-gothic/CenturyGothic-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
